body{
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: PapayaWhip;
}

h1{
  color: inherit;
}

object {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

object embed {
  width: 1080px;
  height: 720px;
}

article {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around
}

section {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: MidnightBlue;
  text-align: center;
  margin: 20px;
  color: PapayaWhip;
  border-color: PapayaWhip;
  border-width: 3px;
  border-style: solid;
}

.tutorial{
  transistion-timing-function: ease-out;
  transition: border-width 0.4s, border-color 0.4s, margin 0.4s, font-size 0.7s, color 0.7s;
}

a{
  text-decoration: none;
}

.tutorial:hover{
  margin: 17px;
  color: LawnGreen;
  font-size: 1.1em;
  border-width: 6px;
  border-color: white;
}

.spacer {
  border-color: black;
  background: black;
}

@media screen and (max-width: 1760px) {
  article {
    width: 80%;
  }
}

@media screen and (max-width: 1328px) {
  article {
    width: 100%
  }
}
